body {
  background-color: #f8d143a7;
  margin-left: 50px;
}

#echotab {
  float: left;
}

.navFont {
  font-weight: lighter !important;
  padding-right: 2.5em;
}

h1 {
  color: #29c0e4;
}

button {
  margin-top: 10px;
  background-color: #d696bf;
}

button:hover {
  color: white;
}

button:active {
  color: blue;
}

h2 {
  color: #0cba73;
}
